<form (submit)="onSubmit($event)" class="form-login">
  <h2>Logowanie</h2>
  <div class="field">
    <fieldset class="field-group">
      <legend>E-mail</legend>
      <input type="text" [formField]="loginForm.login" placeholder="Wpisz adres e-mail..." />
    </fieldset>
    @if (loginForm.login().touched() && loginForm.login().errors(); as errors) {
      <div class="error-stack">
        @for (error of errors; track error.kind) {
          <p class="error">{{ error.message }}</p>
        }
      </div>
    }
  </div>
  <div class="field">
    <fieldset class="field-group">
      <legend>Hasło</legend>
      <input type="password" [formField]="loginForm.password" placeholder="Wpisz hasło..." />
    </fieldset>
    @if (loginForm.password().touched() && loginForm.password().errors(); as errors) {
      <div class="error-stack">
        @for (error of errors; track error.kind) {
          <p class="error">{{ error.message }}</p>
        }
      </div>
    }
  </div>
  <a class="forgot-link" routerLink="/forgot-password">Nie pamiętasz hasła?</a>
  <button class="btn" type="submit" [disabled]="loginForm().invalid()">Zaloguj</button>
  @if (submitError()) {
    <p class="error">{{ submitError() }}</p>
  }
</form>
