.form-login {
    display: flex;
    flex-direction: column;

    h2 {
        margin: 50px auto;
    }
    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .btn {
        margin-top: 20px;
    }

    .forgot-link {
        align-self: flex-end;
        font-size: 14px;
        color: inherit;
        text-decoration: none;
        margin-bottom: 4px;
    }

    .error {
        font-size: smaller;
        text-align: center;
        color: red;
    }
}