:host {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.app-component {
    width: calc(100vw - 300px);
    display: flex;
    flex-direction: column;
    background-color: #F8F3E1;
    padding: 50px;
    border-end-start-radius: 50px;
    height: calc(100vh - 100px);
}