<nav class="main-navigation">
  <div class="nav-logo">
    <a [routerLink]="homeLink">
      <img src="../../assets/logotype.png" alt="Logo aplikacji">
    </a>
  </div>
  <div class="navs">
    <ul class="nav-links">
      @for (item of menuItems(); track item.path) {
        <li>
          <a [routerLink]="item.path" routerLinkActive="active">
            {{item.label}}
          </a>
        </li>
      }
    </ul>
    @if (user()) {
      <ul class="nav-links-loged">
        <li>
          <a routerLink="/reservations" routerLinkActive="active">Moje rezerwacje</a>
        </li>
      </ul>
    }
  </div>
</nav>