.main-navigation {
  width: 300px;
  position: sticky;
  top: 0;
  height: 98vh;
  overflow-y: auto;
  div a {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
.navs {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
  li {
    display: flex;
    a {
      text-decoration: none;
      color: #41431B;
    }
  }
}