<nav class="main-navigation">
  <div>
    <a href="/">
      <img src="../../assets/logotype.png" alt="Logo aplikacji">
      </a>
  </div>
  <div class="navs">
    <ul class="nav-links">
    @for (item of menuItems(); track item.path) {
    <li>
      <a [routerLink]="item.path" routerLinkActive="active">
          {{item.label}}
      </a>
    </li>
  }
  </ul>
  @if (user()) {
      <ul class="nav-links-loged">
        @for (item of menuItemsLoged(); track item.path) {
          <li>
            <a [routerLink]="item.path" routerLinkActive="active">
                {{item.label}}
            </a>
          </li>
        }
        
        <li>
          <a style="cursor: pointer;" (click)="onLogout()">
            Wyloguj
          </a>
        </li>
      </ul>
    }
  </div>
</nav>