.main-navigation {
  width: 300px;
  position: sticky;
  top: 0; /* Przykleja menu do samej góry okna przeglądarki */
  height: 98vh; /* Menu rozciąga się na 100% wysokości ekranu */
  overflow-y: auto; /* Zabezpieczenie: jeśli dodasz kiedyś 50 kategorii, menu będzie można przewijać wewnątrz niego samego */
  div a {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
.navs {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
  li {
    display: flex;
    a {
      text-decoration: none;
      color: #41431B;
    }
  }
}
