.search-section {
    margin-top: 70px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    
    .search-input {
        width: 80%;position: relative;
    }
    .search-icon {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    input {
        width: 100%;
        height: 50px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.05);
        border: none;
        border-radius: 25px;
        padding-left: 45px;
    }
}
.section-header {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.books-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

/* Karta książki jest teraz linkiem <a> */
.book-card {
  flex: 0 0 calc(25% - 15px); /* 4 książki w rzędzie */
  display: block; /* Ważne, aby tag <a> zachowywał się jak kontener */
  border-radius: 8px; /* Zaokrąglone rogi karty */
  overflow: hidden; /* Kluczowe! Przycina obrazek, gdy ten się powiększa */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.book-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zapobiega zniekształceniom proporcji */
  display: block;
  
  /* Definiujemy płynną animację powiększenia */
  transition: transform 0.3s ease-in-out; 
}

/* Efekt najechania myszką (hover) na całą kartę */
.book-card:hover img {
  transform: scale(1.08); /* Delikatne powiększenie o 8% */
}