.search-section {
    margin-top: 70px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    
    .search-input {
        width: 80%;position: relative;
    }
    .search-icon {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    input {
        width: 100%;
        height: 50px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.05);
        border: none;
        border-radius: 25px;
        padding-left: 45px;
    }
}
.section-header {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.books-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

/* Karta książki jest teraz linkiem <a> */
.book-card {
  flex: 0 0 calc(25% - 15px);
  display: flex;
  justify-content: center; /* Wyśrodkowuje okładkę w kolumnie */
  align-items: flex-start; /* Sprawia, że okładki trzymają się góry */
  cursor: pointer;
  
  /* USUWAmy background, box-shadow i border-radius stąd! */
}

.book-card img {
  width: 100%;
  max-width: 200px; /* Tu możesz ograniczyć ich maksymalną szerokość */
  height: auto; /* Zachowuje naturalne proporcje */
  display: block;
  
  /* DODAJEMY cień i rogi tutaj: */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}

.book-card:hover img {
  transform: scale(1.05); /* Powiększenie samej okładki na hover */
}